<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's Up, Batches!</title>
    <style>
      .container {
	  font-family: system-ui, sans-serif;
      }
      p {
	  margin: 0;
      }
      .artists {
	  font-size: smaller;
      }
      li::marker {
	  content: '🎶 ';
	  font-size: 2em;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>What's Up, Batches!</h1>
      <ul>
	{% for page in pages %}
	<li><p><a href="{{page['batch_number']}}/">{{page['batch_number']}} ({{page['artists']|length}} records)</a><br>  <span class="artists">{{page['artists']|join(', ') }}</span></p>
	{% endfor %}
      </ul>
    </div>
  </body>
</html>
